.header {
  border-bottom: 1px solid #ececec;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__menu {
    display: flex;
  }

  &__item {
    display: block;
    animation-duration: 250ms;
    animation-delay: 500ms;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.header__link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--color-menu);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &-curent {
    display: block;
    position: relative;

    color: var(--color-accent);

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      right: 0;
      bottom: -1px;
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 2px;
      background-color: var(--color-accent);
      transform: scaleY(1) translateY(0px);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover::after {
      display: block;
      position: absolute;
      transform: scaleY(0.5) translateY(-35px);
    }
  }
}

.header-contact {
  &__list {
    display: flex;
    margin-left: auto;

    &:hover,
    &:focus {
      color: var(--color-accent);
      fill: var(--color-accent);
    }
  }
  &__item {
    display: flex;
    align-items: center;
    margin-right: 50px;
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--color-menu-contakt);
    fill: var(--color-menu-contakt);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--color-accent);
      fill: var(--color-accent);
    }
  }
  &__svg {
    margin-right: 10px;
  }
}
