:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --color-title: #212121;
  --color-txt: #757575;
  --color-accent: #2196f3;
  --color-accent-dark: #188ce8;
  --color-menu: #212121;
  --color-menu-contakt: #757575;
  --background-hero-footer: #2f303a;
  --bgr-team-button-portfolio: #f5f4fa;
  --stroke-card-portfolio: #eeeeee;
  --contact-footer: rgba(255, 255, 255, 0.6);
  --card-set-gap: 30px;
}
